
/* breakpoint
=============================================== */
@mixin bp-500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin bp-600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin bp-800 {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin bp-1000 {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin bp-1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin bp-1300 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin bp-1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin bp-1500 {
  @media screen and (max-width: 1500px) {
    @content;
  }
}

@mixin bp-1600 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin bp-1800 {
  @media screen and (max-width: 1800px) {
    @content;
  }
}
