@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;

.cta {
  position: relative;
  padding: 80px 20px;
  overflow: hidden;

  @include bp.bp-1000 {
    padding: 60px 16px;
  }

  @include bp.bp-800 {
    padding: 40px 12px;
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 3;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    @include bp.bp-1200 {
      font-size: 32px;
    }

    @include bp.bp-1000 {
      font-size: 24px;
    }

    @include bp.bp-800 {
      font-size: 20px;
      line-height: 2;
    }

    @include bp.bp-600 {
      font-size: 16px;
    }
  }

  &__text {
    margin-top: 90px;
    font-size: 24px;
    text-align: center;
    line-height: 2.6;

    @include bp.bp-1200 {
      margin-top: 80px;
      font-size: 20px;
      margin-top: 70px;
    }

    @include bp.bp-1000 {
      margin-top: 60px;
    }

    @include bp.bp-800 {
      margin-top: 40px;
      font-size: 16px;
      margin-top: 50px;
    }

    @include bp.bp-600 {
      font-size: 14px;
      margin-top: 30px;
    }
  }

  &__button {
    margin-top: 158px;

    @include bp.bp-1000 {
      margin-top: 120px;
    }

    @include bp.bp-800 {
      margin-top: 80px;
    }

    @include bp.bp-600 {
      margin-top: 40px;
    }
  }
}