@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;

.customize {
  padding: 80px 20px;

  @include bp.bp-1000 {
    padding: 60px 16px;
  }

  @include bp.bp-800 {
    padding: 40px 12px;
  }

  &__content {
    margin-top: 80px;
  
      @include bp.bp-1000 {
        margin-top: 60px;
      }
  
      @include bp.bp-800 {
        margin-top: 40px;
      }

    &-lead {
      display: flex;
      align-items: center;

      &.is-pc {
        @include bp.bp-600 {
          display: none;
        }
      }

      &.is-sp {
        display: none;
        @include bp.bp-600 {
          display: flex;
          flex-direction: column !important;
        }
      }
      
      span {
        display: inline-block;
        position: relative;
        &::before {
          position: absolute;
          content: '';
          width: 0%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: c.$color-red;
          transition: all 0.5s ease-out;
        }

        &:nth-of-type(2)::before {
          transition-delay: 0.5s;
        }
      }

      &.is-appear {
        span::before {
          width: 100%;
        }
      }
      @include bp.bp-600 {
      }
    }

    &-title {
      margin-top: 80px;
  
      @include bp.bp-1000 {
        margin-top: 60px;
      }
  
      @include bp.bp-800 {
        margin-top: 40px;
      }
    }

    &-list {
      margin-top: 80px;
      margin-inline: auto;
      max-width: 1128px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 40px;
      
      @include bp.bp-1200 {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        gap: 20px;
      }

      @include bp.bp-1000 {
        margin-top: 60px;
      }

      @include bp.bp-800 {
        margin-top: 40px;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      }

      @include bp.bp-600 {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 15px;
      }
    }
  }

  &__card {
    height: 198px;
    perspective: 1000px;

    @include bp.bp-1200 {
      height: 145px;
    }
    
    @include bp.bp-800 {
      height: 140px;
    }

    @include bp.bp-600 {
      height: 110px;
    }
    
    img {
      width: auto;
      height: 120px;
      
      @include bp.bp-1200 {
        height: 80px;
      }

      @include bp.bp-800 {
        height: 70px;
      }

      @include bp.bp-600 {
        height: 60px;
      }
    }
    
    h4,
    p {
      font-size: 24px;

      @include bp.bp-1200 {
        font-size: 18px;
      }

      @include bp.bp-800 {
        font-size: 16px;
      }

      @include bp.bp-600 {
        font-size: 12px;
      }
    }
    
    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }
    
    &:hover &-inner {
      transform: rotateY(180deg);
    }
    
    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 12px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
      background-color: c.$color-white;
      background: white;
      overflow: hidden;
      line-height: 1.5;
    }
    
    &-front {
      text-align: center;
      padding: 20px 36px 23px;

      @include bp.bp-1200 {
        padding: 15px 20px 18px;
      }

      @include bp.bp-800 {
        padding: 15px 10px 18px;
      }
    }
  
    &-back {
      transform: rotateY(180deg);
      padding: 29px 15px;

      @include bp.bp-1200 {
        padding: 20px 10px;
      }

      @include bp.bp-800 {
        padding: 15px 8px;
      }
    }
  }

  &__exampleLead {
    margin-block: 40px 24px;
    font-size: 24px;
    text-align: center;

    @include bp.bp-1000 {
      font-size: 20px;
    }

    @include bp.bp-800 {
      font-size: 18px;
    }
  }

  &__example {
    &-image {
      display: flex;
      justify-content: center;
      gap: 25px;

      @include bp.bp-800 {
        gap: 15px;
      }

      @include bp.bp-600 {
        gap: 4px;
      }

      .plus {
        width: 30px;
        aspect-ratio: 1;

        @include bp.bp-800 {
          width: 20px;
        }

        @include bp.bp-600 {
          width: 16px;
        }
      }

      .card {
        width: 164px;
        border-radius: 8px;
        border: 3px solid #D9D9D9;
        padding: 12px 12px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include bp.bp-800 {
          width: 120px;
          padding: 8px 2px 12px;
        }

        img {
          width: 100px;
          height: auto;

          @include bp.bp-800 {
            width: 80px;
          }
        }

        h4 {
          font-size: 16px;

          @include bp.bp-800 {
            font-size: 14px;
          }

          @include bp.bp-600 {
            font-size: 12px;
          }
        }
      }
    }

    &-arrow {
      margin-block: 30px 15px;
      margin-inline: auto;
      display: block;
      width: 300px;

      @include bp.bp-1000 {
        width: 250px;
      }

      @include bp.bp-800 {
        width: 200px;
        margin-top: 20px;
      }

      @include bp.bp-600 {
        width: 180px;
      }
    }

    &-result {
      margin-inline: auto;
      font-size: 24px;
      text-align: center;
      padding: 20px;
      width: fit-content;
      padding: 1.2em 1.5em;
      border: 0.4em solid #D9D9D9;

      @include bp.bp-1000 {
        font-size: 20px;
      }

      @include bp.bp-800 {
        font-size: 18px;
      }

      @include bp.bp-600 {
        font-size: 16px;
      }
    }
  }
}