@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;

.footer {
  background-color: #D9D9D9;
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  @include bp.bp-1000 {
    font-size: 16px;
    height: 50px;
  }

  @include bp.bp-800 {
    font-size: 14px;
    height: 40px;
  }

  @include bp.bp-600 {
    font-size: 12px;
    height: 30px;
  }
}