@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;


.mv {
  
  &__inner {
    margin-inline: auto;
    max-width: 1920px;
  }
  
  &__top {
    width: 100%;
    height: 802px;
    position: relative;
    background: url('../img/mv_bg.webp') no-repeat center center/cover;

    @include bp.bp-1200 {
      height: 650px;
    }

    @include bp.bp-800 {
      height: 510px;
    }

    @include bp.bp-600 {
      height: 450px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, #fff 0%, transparent 21%);
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  &__logo {
    position: absolute;
    width: 81px;
    top: 35px;
    left: 65px;

    @include bp.bp-1200 {
      width: 65px;
      top: 25px;
      left: 45px;
    }

    @include bp.bp-800 {
      width: 50px;
      top: 20px;
      left: 30px;
    }

    @include bp.bp-600 {
      width: 40px;
      top: 15px;
      left: 15px;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    padding-top: 137px;
    padding-left: 97px;
    display: flex;
    flex-direction: column;

    @include bp.bp-1200 {
      padding-top: 100px;
      padding-left: 50px;
    }

    @include bp.bp-800 {
      padding-top: 80px;
      padding-left: 30px;
    }

    @include bp.bp-600 {
      padding-top: 80px;
      padding-left: 20px;
    }
  }

  &__title {
    @include f.font-family--serif();
    font-size: 56px;
    font-weight: bold;
    line-height: 1.4;
    position: relative;
    transform: translateY(50px);
    opacity: 0;

    @include bp.bp-1200 {
      font-size: 40px;
    }

    @include bp.bp-800 {
      font-size: 32px;
    }

    @include bp.bp-600 {
      font-size: 22px;
    }

    &.is-appear {
      transform: translateY(0);
      opacity: 1;
      transition: all 1s ease-in-out;
    }

    &-marker {
      font-size: 1.28em;
      display: inline-block;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background-color: #EA553A;
        bottom: 0;
        left: 0;
        transition: width 0.5s ease;
        transition-delay: 1.2s;
      }

      &.is-appear::after {
        width: 100%;
      }
    }
  }

  &__text {
    margin-top: 1em;
    font-size: 32px;
    line-height: 1.406;

    @include bp.bp-1200 {
      font-size: 24px;
    }

    @include bp.bp-800 {
      font-size: 18px;
    }

    @include bp.bp-600 {
      font-size: 14px;
    }
  }

  &__button {
    margin-top: 40px;
    width: 553px;

    @include bp.bp-1200 {
      width: 400px;
    }

    @include bp.bp-800 {
      width: 350px;
    }

    @include bp.bp-600 {
      width: calc(100% - 20px);
    }

    &-link {
      width: 100%;
      text-align: center;
    }
  }

  &__loop {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    perspective: 900px;
    perspective-origin: 60% 40%;

    --tile: 800px;
    --left: 55%;
    --duration: 60s; /* 追加 */

    @include bp.bp-1600 {
      --tile: 500px;
      --left: 60%;
      --duration: 50s;
    }

    @include bp.bp-1000 {
      --tile: 300px;
      --left: 70%;
      --duration: 40s;
    }

    @include bp.bp-800 {
      --left: 65%;
      --duration: 30s;
    }

    @include bp.bp-600 {
      --tile: 200px;
      --left: 70%;
      --duration: 20s;
    }

    &-plane {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 140%;
      height: 140%;
      transform-style: preserve-3d;
      transform: translate(-50%, -50%) scaleX(1.2) rotateX(21deg) rotateY(-5deg) rotateZ(-22deg);
    }

    &-track {
      position: absolute;
      left: var(--left);
      top: 0;
      display: flex;
      flex-direction: column;
      gap: 0;
      will-change: transform;
      transform-origin: left top;
      animation: diagLoop var(--duration) linear infinite; /* 修正 */
    }

    &-track img {
      width: var(--tile);
      height: auto;
      object-fit: contain;
      display: block;
      flex: 0 0 auto;
      margin: 0;
    }
  }

  @keyframes diagLoop {
    from { transform: translate3d(0, 0, 0); }
    to   { transform: translate3d(0, -50%, 0); }
  }

  /* スライダー
  ----------------------------------------------------------------------*/
  &__slider {
    position: relative;
    padding-bottom: 140px;
    overflow: hidden;

    @include bp.bp-800 {
      padding-bottom: 100px;
    }

    @include bp.bp-600 {
      padding-bottom: 60px;
    }

    .swiper-slide {
      transform: scale(0.6);
      transition: transform 0.5s ease;
      transform-origin: center bottom;
      
      &.swiper-slide-prev {
        position: relative;
        transform: scale(0.8) translateX(-13%);
        transition: transform 0.5s ease;
      }

      &.swiper-slide-next {
        position: relative;
        transform: scale(0.8) translateX(13%);
        transition: transform 0.5s ease;
      }

      &.swiper-slide-active {
        transform: scale(1);
        transition: transform 0.5s ease;
      }
    }

    .swiper-pagination {
      top: 87% !important;
    }
  }
}