@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;

.option {
  padding-top: 129px;

  @include bp.bp-1000 {
    padding-top: 80px;
  }

  @include bp.bp-800 {
    padding-top: 60px;
  }

  &__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 40px;

    @include bp.bp-1200 {
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 20px;
    }
    
    @include bp.bp-1000 {
      margin-top: 60px;
      grid-template-columns: repeat(auto-fit, 240px);
    }
    
    @include bp.bp-800 {
      margin-top: 40px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px 16px;
    }

    @include bp.bp-600 {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  &__item {
    border-radius: 8px;
    padding-bottom: 24px;
    background-color: c.$color-white;
    position: relative;
    z-index: 0;

    @include bp.bp-1000 {
      padding-bottom: 20px;
    }

    @include bp.bp-800 {
      padding-bottom: 16px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      aspect-ratio: 350 / 15;
      background: url('../img/card_shadow.webp') no-repeat center bottom/cover;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      z-index: -1;
    }

    &-head {
      background-color: #ADADAD;
      display: flex;
      justify-content: center;
      align-items: center;
      color: c.$color-white;
      font-size: 24px;
      padding: 0.75em;
      border-radius: 8px 8px 0 0;

      @include bp.bp-1200 {
        font-size: 20px;
      }

      @include bp.bp-800 {
        font-size: 18px;
      }

      @include bp.bp-600 {
        font-size: 16px;
      }
    }
    
    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      font-size: 16px;
      border-radius: 0 0 8px 8px;

      @include bp.bp-1000 {
        font-size: 14px;

        img {
          width: 80%;
        }
      }

      @include bp.bp-600 {
        font-size: 12px;
      }
    }
  }
}