@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;

.plan {
  padding: 80px 20px;
  background-color: #F7F7F7;
  overflow: hidden;

  @include bp.bp-1000 {
    padding: 60px 16px;
  }

  @include bp.bp-800 {
    padding: 40px 12px;
  }

  &__content {
    margin-top: 80px;
  
    @include bp.bp-1000 {
      margin-top: 60px;
    }

    @include bp.bp-800 {
      margin-top: 40px;
    }
  }

  &__list {
    margin: 110px auto 0;
    max-width: 1130px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 40px;
    
    @include bp.bp-1200 {
      margin-top: 80px;
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 20px;
    }
    
    @include bp.bp-1000 {
      margin-top: 60px;
    }
    
    @include bp.bp-800 {
      grid-template-columns: repeat(auto-fit, 250px);
      margin-top: 40px;
    }
  }

  .planCard {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
    padding: 44px 15px 32px;
    background-color: c.$color-white;
    border: 3px solid #C6C6C6;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(c.$color-text, 0.2);
    }

    &.is-recommended {
      border-width: 10px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 40%;
        aspect-ratio: 1;
        background: url('../img/plan_recommend.webp') no-repeat center center/contain;
        top: -15%;
        right: -15%;

        @include bp.bp-600 {
          top: -8%;
          right: -24%;
        }
      }

      @include bp.bp-1200 {
        border-width: 8px;
      }

      @include bp.bp-800 {
        border-width: 6px;
      }
    }

    @include bp.bp-1200 {
      padding: 32px 15px 24px;
    }

    @include bp.bp-800 {
      padding: 24px 15px 16px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 32px;
      border-bottom: 1px solid #B3B3B3;

      @include bp.bp-1200 {
        padding-bottom: 24px;
      }

      h4 {
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
        
        @include bp.bp-1200 {
          font-size: 24px;
        }
        
        @include bp.bp-800 {
          font-size: 20px;
        }
      }
      
      p {
        margin-top: 1em;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;

        @include bp.bp-1000 {
          font-size: 14px;
        }
      }
    }

    &__price,
    &__deadline {
      padding-block: 32px;
      border-bottom: 1px solid #B3B3B3;
      display: flex;
      align-items: flex-end;
      gap: 1em;
      font-size: 24px;
      font-weight: 500;
      line-height: 1;

      @include bp.bp-1200 {
        font-size: 20px;
        padding-block: 24px;
      }

      @include bp.bp-800 {
        font-size: 16px;
      }

      @include bp.bp-600 {
        font-size: 12px;
      }

      h5 {
        flex-shrink: 0;
        padding-bottom: 0.2em;
      }

      span {
        font-size: 32px;
        white-space: nowrap;

        @include bp.bp-1200 {
          font-size: 24px;
        }

        @include bp.bp-800 {
          font-size: 20px;
        }

        @include bp.bp-600 {
          font-size: 16px;
        }
      }

      .amount {
        font-size: 48px;

        @include bp.bp-1200 {
          font-size: 40px;
        }

        @include bp.bp-800 {
          font-size: 32px;
        }

        @include bp.bp-600 {
          font-size: 24px;
        }
      }
    }

    &__features {
      padding-top: 32px;
      font-size: 24px;
      font-weight: 500;
      line-height: 1;

      @include bp.bp-1200 {
        padding-top: 24px;
        font-size: 20px;
      }

      @include bp.bp-1000 {
        font-size: 18px;
      }

      @include bp.bp-800 {
        font-size: 16px;
        padding-top: 16px;
      }

      h5 {
        margin-inline: auto;
        width: fit-content;
        padding: 10px;
        background-color: #FFDDB7;

        @include bp.bp-1000 {
          padding: 8px;
        }

        @include bp.bp-800 {
          padding: 6px;
        }
      }

      ul {
        margin: 1em auto 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        li {
          padding-left: calc(1em + 16px);
          position: relative;

          @include bp.bp-1000 {
            padding-left: calc(1em + 12px);
          }

          @include bp.bp-800 {
            padding-left: calc(1em + 8px);
          }

          &::after {
            position: absolute;
            content: '';
            width: 1em;
            aspect-ratio: 1;
            background: url('../img/plan_check.svg') no-repeat center center/contain;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }

          .is-small {
            font-size: 16px;

            @include bp.bp-1200 {
              font-size: 14px;
            }

            @include bp.bp-800 {
              font-size: 12px;
            }

            @include bp.bp-600 {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  &__message {
    margin: 40px auto 0;
    max-width: 1130px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 20px;
    padding: 1.2em 1.5em;
    border: 0.4em solid #D9D9D9;
    background-color: c.$color-white;

    .highlight {
      width: fit-content;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 1.1em;
        height: 1px;
        background-color: c.$color-text;
        top: 50%;
        left: -1.5em;
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        position: absolute;
        content: '';
        width: 1.1em;
        height: 1px;
        background-color: c.$color-text;
        top: 50%;
        right: -1.5em;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    @include bp.bp-1000 {
      font-size: 20px;
    }

    @include bp.bp-800 {
      font-size: 18px;
    }

    @include bp.bp-600 {
      font-size: 16px;
    }
  }
}