@use 'font' as f;
@use 'colors' as c;
@use "breakpoint" as bp;

.voice {
  padding: 80px 20px;
  position: relative;
  background-color: #F7F7F7;
  z-index: 0;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 42%;
    max-width: 650px;
    aspect-ratio: 544 / 636;
    z-index: 1;
  }

  &::before {
    top: 0;
    left: 0;
    background: url('../img/voice_bg01.webp') no-repeat top left/contain;
  }

  &::after {
    bottom: 0;
    right: 0;
    background: url('../img/voice_bg02.webp') no-repeat bottom right/contain;
  }

  @include bp.bp-1000 {
    padding: 60px 16px;
  }

  @include bp.bp-800 {
    padding: 40px 12px;
  }

  &__list {
    margin-top: 80px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px);
    justify-content: center;
    gap: 40px;

    @include bp.bp-1200 {
      gap: 20px;
    }

    @include bp.bp-1000 {
      margin-top: 60px;
    }

    @include bp.bp-800 {
      margin-top: 40px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    
    @include bp.bp-600 {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
  }

  &__item {
    padding: 40px 24px;
    background-color: #FFF8E9;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 24px;

    @include bp.bp-1200 {
      padding: 30px 20px;
    }

    @include bp.bp-800 {
      padding: 24px 16px;
    }

    @include bp.bp-600 {
      padding: 20px 12px;
      gap: 16px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      aspect-ratio: 350 / 15;
      background: url('../img/card_shadow.webp') no-repeat center bottom/cover;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
    }
  }

  &__item-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include bp.bp-1200 {
      gap: 20px;
    }

    @include bp.bp-600 {
      flex-direction: column;
    }

    img {
      flex-shrink: 0;
      width: 111px;
      aspect-ratio: 1;

      @include bp.bp-1200 {
        width: 90px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;
      font-size: 20px;

      @include bp.bp-1200 {
        font-size: 18px;
        gap: 0.6em;
      }

      @include bp.bp-800 {
        font-size: 16px;
      }

      span {
        height: 40px;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        padding-inline: 0.5em;
        background-color: #FFDDB7;

        @include bp.bp-1200 {
          height: 32px;
        }

        @include bp.bp-800 {
          height: 28px;
        }

        &.is-small {
          font-size: 0.8em;
        }
      }
    }
  }

  &__item-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;

    @include bp.bp-1200 {
      font-size: 24px;
    }

    @include bp.bp-800 {
      font-size: 18px;
    }

    @include bp.bp-600 {
      font-size: 14px;
    }

    .after {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 2.4em;
        aspect-ratio: 1;
        background: url('../img/voice_arrow.webp') no-repeat right bottom/contain;
        bottom: 0;
        left: -1em;
      }
    }

    .is-red {
      color: c.$color-red;
      font-weight: bold;
    }
    
    .is-large {
      font-size: 1.5em;
    }
  }

  &__item-comment {
    font-size: 24px;
    text-align: justify;
    line-height: 1.5;

    @include bp.bp-1200 {
      font-size: 18px;
    }

    @include bp.bp-800 {
      font-size: 16px;
    }

    @include bp.bp-600 {
      font-size: 14px;
    }
  }

  &__button {
    margin-top: 110px;

    @include bp.bp-1000 {
      margin-top: 80px;
    }

    @include bp.bp-800 {
      margin-top: 60px;
    }
  }
}